@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/black-alpha.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-12);
  background-color: var(--gray-1);
}

input,
select,
textarea,
fieldset,
legend,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Base styles (Desktop - 992px and up) */
h1 {
  font-size: 2.125rem;
  /* 34px */
}

h2 {
  font-size: 1.875rem;
  /* 30px */
}

h3 {
  font-size: 1.5rem;
  /* 24px */
}

h4 {
  font-size: 1.25rem;
  /* 20px */
}

h5 {
  font-size: 1.125rem;
  /* 18px */
}

h6 {
  font-size: 1rem;
  /* 16px */
}

/* Tablet (576px to 992px) */
@media (max-width: 992px) and (min-width: 576px) {
  h1 {
    font-size: 2rem;
    /* 32px */
  }

  h2 {
    font-size: 1.5rem;
    /* 24px */
  }

  h3 {
    font-size: 1.25rem;
    /* 20px */
  }

  h4 {
    font-size: 1.125rem;
    /* 18px */
  }

  h5 {
    font-size: 1.125rem;
    /* 18px */
  }

  h6 {
    font-size: 1.125rem;
    /* 18px */
  }
}

/* Mobile (up to 576px) */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
    /* 24px */
  }

  h2 {
    font-size: 1.125rem;
    /* 18px */
  }

  h3 {
    font-size: 1.125rem;
    /* 18px */
  }

  h4 {
    font-size: 1rem;
    /* 16px */
  }

  h5 {
    font-size: 1rem;
    /* 16px */
  }

  h6 {
    font-size: 1rem;
    /* 16px */
  }
}

/* header */

.header-wrapper {
  background-color: var(--gray-2);
  border-bottom: 1px solid var(--gray-6);
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ---- */

/* layout */

header,
.app {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 992px) {
  main {
    margin-left: 176px;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 576px;
  margin: auto;
  padding: 80px 24px;
}

/* ---- */

/* aside */

aside {
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 24px;
}

@media (min-width: 992px) {
  aside {
    width: 176px;
  }
}

aside nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

aside .nav-link {
  display: inline-block;
  width: 100%;
  color: var(--teal-9);
  text-align: center;
  padding: 10px 16px;
}

aside .nav-link:hover:not(.nav-link-active) {
  color: var(--teal-11);
  background-color: var(--teal-4);
}

aside .nav-link-active {
  color: #fff;
  background-color: var(--teal-9);
}

/* ---- */

/* article */

article {
  width: 100%;
  border: 1px solid var(--gray-6);
}

.article-title {
  padding: 12px;
  background-color: var(--gray-2);
  border-bottom: 1px solid var(--gray-6);
}

.article-title h4 {
  font-weight: 500;
}

.article-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 24px;
}

/* ---- */

/* drawer */

.drawer-overlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
}

.drawer-content {
  position: fixed;
  inset: 0;
  width: 300px;
  background-color: var(--gray-1);
}

.drawer-title {
  padding: 14px 16px;
  border-bottom: 1px solid var(--gray-6);
  font-size: 1.3rem;
}

.drawer-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* ---- */

/* utilities */

/* Hide on mobile (screens smaller than 992px) */
@media (max-width: 991.98px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/* Hide on desktop (screens 992px and up) */
@media (min-width: 992px) {
  .hide-on-desktop {
    display: none !important;
  }
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

/* ---- */

/* ---- form styles ---- */

/* button */

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--teal-9);
  padding: 10px;
  background-color: var(--teal-3);
  border: 1px solid var(--teal-6);
  cursor: pointer;
}

button:not(.icon-button) {
  height: 40px;
  min-width: 12ch;
}

button:hover {
  border-color: var(--teal-7);
  background-color: var(--teal-4);
}

button:active {
  background-color: var(--teal-5);
}

button.danger {
  color: var(--tomato-9);
  padding: 10px;
  background-color: var(--tomato-3);
  border: 1px solid var(--tomato-6);
}

button.danger:hover {
  border-color: var(--tomato-7);
  background-color: var(--tomato-4);
}

button.danger:active {
  background-color: var(--tomato-5);
}

button.accent {
  color: #fff;
  background-color: var(--teal-9);
  border-color: transparent;
}

button.accent:hover {
  background-color: var(--teal-10);
}

button.accent:active {
  filter: brightness(0.92) saturate(1.1);
}

button.accent.danger {
  color: #fff;
  background-color: var(--tomato-9);
  border-color: transparent;
}

button.accent:hover.danger {
  background-color: var(--tomato-10);
}

button.accent:active.danger {
  filter: brightness(0.92) saturate(1.1);
}

button[disabled] {
  color: var(--gray-7);
  background-color: var(--gray-3);
  border-color: var(--gray-6);
  cursor: not-allowed;
  pointer-events: none;
}

button[disabled] .spinner {
  border-color: var(--gray-6);
  border-top-color: var(--gray-9);
}

/* ---- */

/* .icon-button */

button.icon-button {
  padding: 6px;
}

button.icon-button.ghost {
  border-color: transparent;
  background-color: transparent;
}

button.icon-button.ghost:hover {
  background-color: var(--teal-4);
  color: var(--teal-11);
}

button.icon-button.ghost:active {
  background-color: var(--teal-5);
}

button.icon-button.ghost.danger:hover {
  background-color: var(--tomato-4);
  color: var(--tomato-11);
}

button.icon-button.ghost.danger:active {
  background-color: var(--tomato-5);
}

button.icon-button.ghost.danger:hover {
  background-color: var(--tomato-4);
  color: var(--tomato-11);
}

button.icon-button.ghost.danger:active {
  background-color: var(--tomato-5);
}

/* ---- */

/* text field */

.form-group {
  width: 100%;
}

.form-group+.form-group {
  margin-top: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-label.disabled {
  color: var(--gray-6);
  cursor: not-allowed;
  pointer-events: none;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 10px 14px;
  font-size: 1rem;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-6);
}

.form-control:focus {
  border-color: var(--teal-7);
  box-shadow: 0 0 0 1px var(--teal-7);
  outline: 2px solid transparent;
}

.form-control.is-invalid {
  border-color: var(--tomato-6);
}

.form-control:focus.is-invalid {
  border-color: var(--tomato-7);
  box-shadow: 0 0 0 1px var(--tomato-7);
}

.form-control[disabled] {
  background-color: var(--gray-3);
  border-color: var(--gray-6);
  cursor: not-allowed;
  pointer-events: none;
}

.form-text {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.form-text.invalid-feedback {
  color: var(--tomato-11);
}

.input-adorment {
  position: relative;
}

.input-start-adorment,
.input-end-adorment {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
}

.input-start-adorment {
  left: 4px;
}

.input-end-adorment {
  right: 4px;
}

.input-adorment-interactive:hover {
  background-color: var(--gray-4);
  cursor: pointer;
}

.input-adorment:has(.input-start-adorment) .form-control {
  padding-left: 38px;
}

.input-adorment:has(.input-end-adorment) .form-control {
  padding-right: 38px;
}

/* ---- */

/* react select */

.react-select__control {
  height: 40px !important;
  border: 1px solid var(--gray-6) !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

.react-select__control:has(.react-select__value-container--is-multi) {
  height: auto !important;
}

.react-select__placeholder {
  color: var(--gray-11) !important;
}

.react-select__placeholder .react-select__menu {
  background-color: var(--gray-1) !important;
}

.react-select__option--is-focused {
  background-color: var(--teal-4) !important;
}

.react-select__option:active {
  background-color: var(--teal-5) !important;
}

.react-select__option--is-selected {
  background-color: var(--teal-9) !important;
}

.react-select__control--is-focused {
  border-color: var(--teal-7) !important;
  box-shadow: 0 0 0 1px var(--teal-7) !important;
}

.react-select__control.is-invalid {
  border-color: var(--tomato-6) !important;
}

.react-select__control--is-focused.is-invalid {
  border-color: var(--tomato-7) !important;
  box-shadow: 0 0 0 1px var(--tomato-7) !important;
}

.react-select--is-disabled {
  background-color: var(--gray-3);
  border-color: var(--gray-6);
}

.react-select--is-disabled .react-select__placeholder {
  color: var(--gray-6) !important;
}

.react-select__indicator-separator {
  background-color: var(--gray-6) !important;
}

.react-select__indicator,
.react-select__dropdown-indicator {
  color: var(--gray-11) !important;

}

.react-select--is-disabled .react-select__indicator-separator {
  background-color: var(--gray-6) !important;
}

.react-select--is-disabled .react-select__indicator,
.react-select--is-disabled .react-select__dropdown-indicator {
  color: var(--gray-6) !important;
}

.react-select__multi-value__remove {
  color: var(--gray-11) !important;
}

.react-select__multi-value__remove:hover {
  background-color: var(--gray-7) !important;
  color: var(--gray-12) !important;
}

.react-select__multi-value__label {
  color: var(--gray-12) !important;
}

.react-select__clear-indicator {
  padding: 4px !important;
  margin: 0 4px;
}

.react-select__clear-indicator:hover {
  background-color: var(--gray-7) !important;
  color: var(--gray-12) !important;
}

/* ---- */

/* checks & radios */

.form-check {
  display: flex;
  padding: 10px;
  gap: 4px;
  align-items: center;
}

.form-check-label.is-invalid {
  color: var(--tomato-11);
}

.form-check-label.disabled {
  color: var(--gray-6);
}

.form-check-input {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--gray-6);;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form-check-input:focus {
  border-color: var(--teal-7) !important;
  box-shadow: 0 0 0 1px var(--teal-7) !important;
}

.form-check-input:checked {
  background-color: var(--teal-9);
  border-color: var(--teal-9);
}

.form-check-input.is-invalid {
  border-color: var(--tomato-6);;
}

.form-check-input:focus.is-invalid {
  border-color: var(--tomato-7) !important;
  box-shadow: 0 0 0 1px var(--tomato-7) !important;
}

.form-check-input:checked.is-invalid {
  background-color: var(--tomato-9);
  border-color: var(--tomato-9);
}

.form-check-input[disabled] {
  opacity: 0.7;
}

.form-check-input:checked[type=checkbox] {
 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
}
.form-check-input:checked[type=radio] {
 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%23fff" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-small-icon lucide-circle-small"><circle cx="12" cy="12" r="6"/></svg>');
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

/* ---- */

/* spinner */

.spinner {
  border: 4px solid var(--gray-6);
  border-top: 4px solid var(--teal-9);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.spinner-small {
  border-width: 2px;
  border-top-width: 2px;
  width: 18px;
  height: 18px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---- */

/* lucide */

.lucide {
  height: 20px;
  width: 20px;
}

/* ---- */